/* a custom code highlighting theme, for use with `starry-nights`:
   see <https://github.com/Alhadis/language-etc/blob/master/samples/lists/scope-previews.nanorc> */

/* constants */

:root {
    --theme-fg: #c5c8c6;
    --theme-bg: #1c1d1d;
    --theme-black: #ab9bcc;
    --theme-red: #BF616A;
    --theme-green: #A3BE8C;
    --theme-yellow: #EBCB8B;
    --theme-blue: #d36f58;
    /*
    --theme-purple: ;
    --theme-: ;
    --theme-: ;
    --theme-: ;
    */
}

code {
    color: var(--theme-fg);
}

/* brackets */
.pl-ba {
    color: var(--theme-fg);
}
/* constants */
.pl-c1 {
    color: var(--theme-red);
}
/* comments */
.pl-c {
    color: var(--theme-fg);    
}
/* keyword */
.pl-k {
    color: var(--theme-red);
}
/* string */
.pl-s {
    color: var(--theme-green);
}
/* variable */
.pl-v {
    color: var(--theme-yellow);
}
/* entity */
.pl-e {
    color: var(--theme-blue);
}
/* entity tag */
.pl-ent {
    color: var(--theme-yellow);
}
/* entity name */
.pl-en {
    color: var(--theme-blue);
}
/* variable other */
.pl-smi {
    color: var(--theme-yellow);
}
