<!DOCTYPE html>
<html data-font="monospace">
<head>
    <title>sourcefoundry</title>
    <link rel="stylesheet" href="/public/skua.css" />
    <link href="data:," rel="icon">
    <script src="/public/falcon.js"></script>

    <style>
    :root {
        --skua-page-width: 80vw;
        --skua-max-page-width: 80vw;
        font-family: monospace;
    }

    header > a {
        font-style: italic;
    }

    header > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    h1 {
        margin: 5px;
    }

    #theme-switcher {
        height: 60%;
    }

    main, main * {
        max-width: var(--skua-max-page-width);
    }

    </style>
    <script>
        function update(dark) {
            const theme = $("#theme-switcher");
            const html = $("html");
            localStorage.setItem("theme", dark ? "dark" : "light");
            html.setAttribute("data-theme", localStorage.getItem("theme"));
            theme.innerText = localStorage.getItem("theme");
        }

        window.addEventListener("load", () => {
            let dark = (localStorage.getItem("theme") ?? "dark") === "dark";
            update(dark);
            $("#theme-switcher").onclick = () => update(dark = !dark);
        });
    </script>
</head>
<body>
    <header>
        <div>
            <h1>SRCFOUNDRY</h1>     
            <button id="theme-switcher">dark</button>
        </div>

        <a href="/">home</a>
    </header>

    <main>
        <!-- @slot -->
    </main>

    <footer>
        <p>made with <3 by <a href="https://0x5da.dev">0x5DA</a></p>
    </footer>
</body>
</html>
