<!DOCTYPE html>
<html data-font="monospace">
<head>
    <title>sourcefoundry</title>
    <link rel="stylesheet" href="/public/skua.css" />
    <link href="data:," rel="icon">

    <style>
    :root {
        --skua-page-width: 80vw;
        --skua-max-page-width: 80vw;
        font-family: monospace;
    }

    header > a {
        font-style: italic;
    }

    header > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    h1 {
        margin: 5px;
    }

    #theme-switcher {
        height: 60%;
    }

    main, main * {
        max-width: var(--skua-max-page-width);
    }

    </style>
    <script>
        let dark = true;
        window.addEventListener("load", () => {
            const theme = document.getElementById("theme-switcher");
            const html = document.getElementsByTagName("html")[0];
            theme.onclick = () => {
                dark = !dark;
                html.setAttribute("data-theme", dark ? "dark" : "light");
                theme.innerText = dark ? "dark" : "light";
            };
        });
    </script>
</head>
<body>
    <header>
        <div>
            <h1>SRCFOUNDRY</h1>     
            <button id="theme-switcher">dark</button>
        </div>

        <a href="/">home</a>
    </header>

    <main>
        <!-- @slot -->
    </main>

    <footer>
        <p>made with <3 by <a href="https://0x5da.dev">0x5DA</a></p>
    </footer>
</body>
</html>
